* {
	text-align: center;
	padding: 0;
	margin: 0 auto;
	font-size: 14px;
	font-family: '微软雅黑';
}

html,body {
	width: 100%;
	height: auto;
	position: relative;
	line-height: 1;
}

body {
	background: url(images/loginBg.png)  left top;
}

.max {
	width: 100%;
	height: 600px;
	background: #fff;
}

.header {
	width: 100%;
	background: url(images/loginBg.png)  left top;
	height: 120px;
	float: left;
}

.content {
	float: left;
	width: 100%;
	height: 520px;
	background: #fff;
	position: relative;
}

.footer {
	float: left;
	width: 100%;
	height: 40px;
	float: left;
	line-height: 40px;
	color: #666;
	margin-top: 23px;
	font-size: 13px;
}

.logo {
	width: 980px;
	height: 120px;
	position: relative;
}

.ding {
	background: url(images/ding.png) no-repeat right bottom;
	width: 114px;
	height: 106px;
	position: absolute;
	z-index: 21;
	right: 0px;
	bottom: 0px;
	filter: Alpha(opacity=70);
	opacity: 0.7;
}

.xiangyun {
	background: url(images/xiangyun.png) no-repeat left bottom;
	width: 202px;
	height: 88px;
	position: absolute;
	z-index: 2;
	right: 384px;
	bottom: 37px;
}
.diwen {
	background: url(images/diwen.png) no-repeat right bottom;
	width: 363px;
	height: 137px;
	position: absolute;
	z-index: 0;
	right: 96px;
	bottom: -1px;
	filter: Alpha(opacity=50);
	opacity: 0.5;
}

.logo a {
	display: block;
	width: 271px;
	height: 61px;
	position: absolute;
	z-index: 22;
	left: 12px;
	top: 30px;
}

.centerDiv {
	width: 980px;
	position: relative;
	background: #fff;
	padding-top: 40px;
}

.loginUl, .loginUl li {
	width: 412px;
	display: block;
}

.loginUl {
	background: #fff;
	height: 412px;
}

.loginUl li {
	margin-bottom: 33px;
	height: 46px;
	background: #fff;
	position: relative;
}

.loginUl li .input {
	width: 412px;
	height: 45px;
	line-height: 45px;
	border: 0;
	border-bottom: 1px solid #ccc;
	text-align: left;
	padding-left: 30px;
	font-size: 16px;
}
.loginUl li .imgCode{
	width:100px;
	height:20px;
	padding-left: 5px;
	line-height:20px;
	border: 1px solid #ccc;
}
.loginUl li .error{
	border:1px solid red;
}

.loginUl li.user span {
	width: 45px;
	height: 42px;
	position: absolute;
	z-index: 33;
	left: 1px;
	bottom: 1px;
	background: url(images/inputBg.png) no-repeat 0px 5px;
	display: block;
}

.loginUl li.psw span {
	width: 45px;
	height: 42px;
	position: absolute;
	z-index: 33;
	left: 1px;
	bottom: 1px;
	background: url(images/inputBg.png) no-repeat 1px -32px;
	display: block;
}

.loginUl li button {
	width: 442px;
	height: 45px;
	background: #3499da;
	border: 0;
	font-size: 18px;
	color: #fff;
	-moz-border-radius: 2px;
      /* Gecko browsers */
	-webkit-border-radius: 2px;
   /* Webkit browsers */
	border-radius: 2px;
            /* W3C syntax */
	cursor: pointer;
}

.loginUl li button:hover {
	background: #2fa6f3;
}

.reg .title {
	font-size: 20px;
	color: #333;
	line-height: 40px;
	float: left;
	font-size: 20px;
	font-weight: normal;
}

.reg span {
	text-align: right;
	float: right;
	line-height: 40px;
}

.reg span a, .forget a {
	color: #3498db;
	text-decoration: none;
}

.forget a {
	float: right;
}

.forget span {
	float: left;
	color: #999;
}

.reg span a:hover, .forget a:hover {
	color: #3498db;
	text-decoration: underline;
}

.forget span.tip {
	color: red;
	display: none;
}
